
body {
    background-color: #FFFFFF; 
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'Nunito', sans-serif;
    
  }
  
  #central {
    border-radius: 25px;
  } 
  
  .titulo-top {
    color: #1995AD;
    font-size: 25px;
    font-family: 'Tilt Neon', sans-serif;
    text-transform: uppercase;
    text-align: center;
    
  }
  
  
  .top-div {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 15px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    box-sizing: border-box;
    width: 600px;
    height: 100%;
    border-radius: 25px;
    margin-top: 28px;

    }
  
  .table tr td {
    border-bottom: 1.5px solid #1995ad; 
    font-family: 'Assistant', sans-serif !important;
    font-style: normal !important;
    background-color: transparent !important;
    font-size:13px;
    font-weight: normal;
    padding: 10px; /* Espaciado interior de las celdas */
    text-align: center; /* Alineación horizontal de los contenidos */
    vertical-align:auto; /* Alineación vertical de los contenidos */

  } 

  .table tr th {
    border-bottom: 1.5px solid #1995ad; 
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
    font-size:13px;
    font-weight: bold;
    text-align: center;
    padding: 10px; /* Espaciado interior de las celdas */
  }
  
  .submit {
    font-family:'Tilt Neon', sans-serif;
    font-size: 100%;
    color:#FFFFFF;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #1995AD;
    margin-bottom: 20px;
  } 

  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .btn_Bloquear {
    font-family:'Tilt Neon', sans-serif;
    font-size: 90%;
    color:black;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1.9px solid #1995AD;
    background-color: #FFFFFF;
    min-width: 100px;
  }

  .btn_Bloquear:hover {
      cursor: pointer;
      background-color: #A1D6E2;
  }

  .btn_Bloquear:disabled {
    cursor: not-allowed;
    background-color: #BCBABE;
}
