<div class="container-fluid">
    <div class="central">
      <div class="row">
        <div class="col-2"></div> 
        <div class=" col-8 top-div">
           <div *ngIf="configService?.isLogged && configService?.contact?.auditor">
  
               <div class="row" style="padding-bottom: 0;">
  
                   <div class="col-xs-12 col-sm-12 col-md-12" >
                    <div class="titulo-top mb-5">
                      Gestión de Permisos
                  </div>
                  <div class="info">
                    <div class="row">
                   
                    </div>
                  </div>
        
                    <div style="height: 100%; overflow: auto;">
                      <table class="table" *ngIf="contacts?.length >= 0" style="border-collapse: collapse;">
                             <thead>
                                 <tr>
                                     <th scope="col">Id</th>
                                     <th scope="col">Nombre</th>
                                     <th scope="col">Usuario</th>
                                     <th scope="col">Email</th>
                                     <th scope="col">Usuario Auditor</th>
                                     <th scope="col">Usuario de Confianza</th>
                                     <th scope="col">Bloquear usuario</th>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr *ngFor="let contact of contacts">
                                   <td>{{contact.id}}</td>
                                   <td>{{contact.name}}</td>
                                   <td>{{contact.userName}}</td>
                                   <td>{{contact.email}}</td>
                                   <td>
                                    <input type=checkbox class="form-check-input" [(ngModel)] = 'contact.auditor' (change) = 'changeAuditor(contact)' [disabled] = 'configService?.contact?.id == contact.id' >
                                   </td>
                                   <td>
                                    <input type=checkbox  class="form-check-input" [(ngModel)] = 'contact.trusted' (change) = 'changeTrusted(contact)' >
                                    

                                  </td>
                                   <td>
                                    <button type="button" class="btn_Bloquear" (click) = "blockUser(contact)" [disabled] = 'configService?.contact?.id == contact.id'>{{contact?.blocked ? 'Desbloquear' : 'Bloquear'}}</button>
                                   </td>
                                 </tr>
                               </tbody>
                      </table>
                    </div>
                   </div>
                   </div>
                   </div>
        </div>
        <div class="col-2"></div> 
      </div>   
  </div>
  </div>
  
   
  
  