body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;    
}

.container-fluid {
    margin-top: 40px;
    margin-bottom: 40px; 
    border-radius: 25px; 
} 
    
.sombra {
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.info {
    background-image: url('/assets/image/fondo_recover.png');
    background-position: center;
    //background-size: cover;
    background-repeat: no-repeat;
    //background-color: #f9f9f9;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 250px;
}




.txt-2 {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5;
    
}


.form {
    padding: 10px 92px;
    text-align: center;
    
}   

.form h2 {
    color: #1995AD;
    font-size: 35px;
    font-family: 'Tilt Neon', sans-serif;
    text-transform: uppercase;
}

.form p {
    font-size: 16px;
    color: #666666;;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.box  {
    outline: none;
    border-color: #1995AD;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    padding: 15px 35px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Tilt Neon', sans-serif;
    

}

.inputs a {
    color: #1995AD;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Tilt Neon', sans-serif;
}

.submit {
    font-family:'Tilt Neon', sans-serif;
    font-size: 130%;
    color:#FFFFFF;
    width: 80%;
    height: 40px;
    border: none;
    margin-left: 35px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #1995AD;
    margin-top: 30px;
    margin-bottom: 30px;
} 
    

.home {
    color: #1995AD;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Tilt Neon', sans-serif;
}  
    
  


@media(max-widith:900px) {

    .info {
        display: flex;
    }

    .form {
        padding: 30px;

    }

    

}











































/* 






body {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 50px;
    min-width: 100vw;
    min-height: 70vh;
    width: 100%;
    // height: calc(100% - 30px);
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(2,2,42,1) 35%, rgba(0,212,255,1) 100%);
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 200%;
    color:#48a7e5;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 400px;
    height: 400px;
    padding: 50px 30px;
    background-color: #ECECEC;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#login input {
    font-family: 'Quicksand', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display:block;
    width: 80%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    margin-top: 35px;
    margin-left: 35px;
}

#login input::placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 130%;
    color:#0f4c75;
    width: 80%;
    height: 40px;
    border: none;
    margin-left: 35px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #bbe1fa;
    margin-top: 40px;
}

#login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 38px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #3f88b3;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 130%;
}

.pie-form a:hover {
    color: #48a7e5;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
   justify-content: center;
    display: block;
    text-decoration: none;
    color: #48a7e5;
    font-size:150%;
    margin-bottom: 3px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 65px;
}

.inferior a:hover {
    color: #3282b8;
} */