<div id="contenedor">
        <div id="central">
            <div id="login">
                <h2>Recuperar Contraseña</h2>
                <form id="form" [formGroup] ="form" novalidate>
                    <input type="text" name="Correo electrónico" formControlName="email" placeholder="Correo electrónico" required>
                    
                    <input type="text" name="Confirmar correo electrónico" formControlName="confirmEmail" placeholder="Confirmar correo electrónico" required>

                    <button type="submit" title="Recuperar" name="Recuperar"
                    (click)= "btn_recover()">Solicitar cambio de contraseña</button>
                </form>
            </div>
        </div>
</div>


