#SearchBarNavbar1 {
    justify-content: flex-end;
    margin-top: 8px;
    margin-right: 20px;
}

@media (max-width: 992px) {
    #SearchBarNavbar1 {
        justify-content: flex-start !important;
 
    }
}