    <header>
      <div class="logo">  
        <img src="/assets/image/icon.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
      </div>
    <nav> 
      <ul>
        <li >
          <a routerLink="/home" >Home</a>
        </li>
        <li >
          <a routerLink="/calendar" >Eventos</a>
        </li>
        <li >
          <a routerLink="/search" >B&uacute;squedas</a>
        </li>
        <li *ngIf="configService?.isLogged">
          <a routerLink="/posts" >Publicaciones</a>
        </li>
       

        <li class="nav-item dropdown" *ngIf="configService?.contact?.auditor">
          <a class="nav-link dropdown-toggle" href="#" id="auditorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Auditoría
          </a>
          <div class="dropdown-menu" aria-labelledby="auditorDropdown" style="padding-right:10px;">
            <a class="dropdown-item" routerLink="/table/event">Eventos</a>
            <a class="dropdown-item" routerLink="/table/post">Publicaciones</a>
            <a class="dropdown-item" routerLink="/action-log">Acciones de Usuario</a>
            <a class="dropdown-item" routerLink="/permissions">Gestión de Permisos</a>
          </div>
        </li>
        <li>
          <a routerLink="/info-contact" >Contacto</a>
        </li>
       
      </ul>

    
</nav>
<div class="d-flex flex-row-reverse" style="position: absolute;top: 16px;right: 10px;">
<button class="btn_ingresar" *ngIf="!configService.isLogged" routerLink="/login"><a> Ingresar</a></button>
</div>
<div class="dropdown">
  <div style="position: absolute;top: -20px;right: -100px;white-space:nowrap;"  *ngIf="configService.isLogged" id="settingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="btn_ingresar" > ¡ Hola {{configService?.contact?.firstName}} ! </div> 
  </div>
  <div class="dropdown-menu" aria-labelledby="settingsDropdown" *ngIf="configService.isLogged">
    <a class="dropdown-item"  routerLink="/settings">Ajustes</a>
     <div class="dropdown-divider"></div> 
    <a class="dropdown-item"  (click)="btn_Logout()" routerLink="/login">Salir</a>      
  </div>
  
</div>
</header>

