<nav class="navbar navbar-expand-lg navbar-dark"style="background-color: #2F2D30;">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="#">
            <img src="/assets/image/icon.png" alt="" width="50" height="50" class="d-inline-block align-text-top"> 
          </a>
        <a class="navbar-brand titles"  href="#">Comunidad ParImpar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active opcionMenu" aria-current="page" routerLink="/home">
              <!-- <div class="d-flex flex-column justify-content-center"> -->
                <div class="icon-text">
                  <mat-icon matSuffix style="cursor:pointer;">home</mat-icon> 
                  <span>Home</span>
                </div>
            </a>
          </li>  
          <li class="nav-item">
            <a class="nav-link active opcionMenu" aria-current="page"routerLink="/calendar">
                <div class="icon-text">
                  <mat-icon matSuffix style="cursor:pointer;">event</mat-icon> 
                  <span>Eventos</span>
                </div>
            </a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active opcionMenu" aria-current="page"routerLink="/search">
                <div class="icon-text">
                  <mat-icon matSuffix style="cursor:pointer;">search</mat-icon> 
                  <span>B&uacute;squedas</span>
                </div>
            </a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active opcionMenu" aria-current="page"routerLink="/posts" *ngIf="configService.isLooged">
                <div class="icon-text">
                  <mat-icon matSuffix style="cursor:pointer;">publish</mat-icon> 
                  <span>Publicaciones de Contenido</span>
                </div>
            </a>
          </li>
        </ul>
        <div style="position: absolute;right: 0;">
          <ul class="navbar-nav">

            <li class="nav-item dropdown">
              <a id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link active opcionMenu dropdown-toggle icon-text" aria-current="page">
                <div>
                  <span class="name-user" *ngIf="configService?.contact?.name">{{configService.contact.name}}</span>
                  <mat-icon (click)="btn_Login()" matSuffix style="cursor:pointer;">account_circle</mat-icon> 
                </div>
              </a>
              <ul class="dropdown-menu" *ngIf="configService?.contact?.name" aria-labelledby="navbarDropdown">
                <li *ngIf="configService?.contact?.auditor"><a class="dropdown-item" routerLink="/table/event">Auditar eventos</a></li>
                <li *ngIf="configService?.contact?.auditor"><a class="dropdown-item" routerLink="/table/post">Auditar publicaciones</a></li>
                <li *ngIf="configService?.contact?.auditor"><a class="dropdown-item" routerLink="/action-log">Acciones de usuario</a></li>
                <li *ngIf="configService?.contact?.auditor"><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item"  routerLink="/settings">Ajustes</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link active opcionMenu" aria-current="page" (click)="btn_Logout()" *ngIf="configService.isLooged">
                  <div class="icon-text">
                    <mat-icon matSuffix style="cursor:pointer;">logout</mat-icon> 
                  </div>
              </a>
            </li> 
          </ul>
        </div>
      </div>
    </div>
  </nav>