<div class="my-container">
    
    <h1>Bases y Condiciones de Comunidad ParImpar</h1>

    <p>Bienvenido a Comunidad ParImpar, un espacio en línea dedicado a la interacción y colaboración entre usuarios. Antes de utilizar nuestros servicios, te pedimos que leas detenidamente las siguientes bases y condiciones. Al acceder y utilizar la plataforma, aceptas cumplir con estos términos. Si no estás de acuerdo con alguna parte de estas condiciones, te recomendamos que no utilices nuestros servicios.</p>

    <h2>1. Responsabilidad del Contenido</h2>

    <p class="description">Los administradores de Comunidad ParImpar no se hacen responsables por la veracidad, derechos del contenido publicado, ni por el contenido en sí mismo. Cada usuario es responsable de sus propias publicaciones y del respeto de los derechos de autor. Cualquier disputa relacionada con el contenido debe ser resuelta entre los usuarios involucrados.</p>

    <h2>2. Uso de la Plataforma por Fundaciones</h2>

    <p class="description">Si una fundación desea utilizar el sistema, debe registrarse como usuario. El usuario registrado será el representante responsable de la entidad en la plataforma. A través de la configuración de usuario, se podrá definir el nombre de la fundación. La entidad se compromete a cumplir con todas las regulaciones y normativas aplicables.</p>

    <h2>4. Notificaciones y Preferencias</h2>

    <p class="description">Los usuarios recibirán notificaciones según sus preferencias, las cuales podrán gestionar desde la pantalla de configuración de la cuenta. Si desean deshabilitar ciertas notificaciones, podrán hacerlo según sus necesidades y preferencias individuales.</p>
    
    <h2>5. Consultas y Sugerencias</h2>
    
    <p class="description">Cualquier consulta o sugerencia por parte de los usuarios puede ser comunicada a través del correo electrónico <a href="mailto:comunidadparimpar@gmail.com">comunidadparimpar@gmail.com</a>. Nos comprometemos a revisar y responder a todas las consultas en la medida de lo posible.</p>
    
    <h2>6. Responsabilidad del Equipo de Comunidad ParImpar</h2>
    
    <p class="description">El equipo de Comunidad ParImpar asume la responsabilidad de administrar y mantener la plataforma de manera efectiva. Sin embargo, no se hace responsable por el contenido generado por los usuarios ni por las interacciones entre ellos. El equipo se reserva el derecho de tomar las medidas necesarias para garantizar un entorno seguro y respetuoso.</p>
    
    <p>Al utilizar Comunidad ParImpar, aceptas estas bases y condiciones. El incumplimiento de estas normas puede resultar en la suspensión o eliminación de tu cuenta. Nos esforzamos por ofrecer un espacio en línea positivo y colaborativo, y agradecemos tu cooperación para mantener una comunidad respetuosa.</p>
</div>