<div class="container mt-4 mb-4" *ngIf="showMessage" style="height: 90vh;">
    <mat-card class="example-card m-5">
        <mat-card-content>
            <h3 style="align-items: center;">{{message}}</h3>
        </mat-card-content>
    </mat-card>
</div>

<div id="contenedor" *ngIf="!showMessage">
        <div id="central">
            <div id="login">
                <h3>Nueva contraseña</h3>
                <div *ngIf="showError" class="alert alert-danger" role="alert">
                    {{messageError}}
                </div>
            
                <div [ngClass]="{'pt-5': !showError}"></div>
                
                <form id="loginform" [formGroup] ="form" novalidate>
                    <input type="password" formControlName="password" placeholder="Contraseña" name="password" required>
                   
                    <input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña" name="confirmPassword" required>
                    
                    <button type="submit" title="Ingresar" name="Ingresar"
                    (click)= "btn_change_password()">Cambiar contraseña</button>
                </form>
            </div>
        </div>
</div>


