<!--  <div class="container mt-4 mb-4" *ngIf="showMessage" style="height: 90vh;">
    <mat-card class="example-card m-5">
        <mat-card-content>
            <h3 style="align-items: center;">{{message}}</h3>
        </mat-card-content>
    </mat-card>
</div> -->


<div class="container-fluid" *ngIf="!showMessage">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 sombra" style="border-radius: 25px;">
            <div class="row">

                <div class="info col-6">



                </div>
                <form style="height: 10px;" class="form col-6" [formGroup] ="form" novalidate>
                    <div *ngIf="showError" class="alert alert-danger" role="alert">
                        {{messageError}}
                    </div>
                    
                    <div [ngClass]="{'pt-5': !showError}"></div>
                    
                    
                    <h2> Nueva contraseña </h2>

                    <p class="txt-2">
                        Ingresa tu nueva contraseña para usar tu cuenta de Comunidad Par Impar
                    </p>
                    <div class="inputs">
                        <input type="password" class = "box" formControlName="password" placeholder="Contraseña" name="password" required>
                   
                        <input type="password" class = "box" formControlName="confirmPassword" placeholder="Confirmar contraseña" name="confirmPassword" required>
                        
                        <button type="submit" class = "submit" title="Ingresar" name="Ingresar"
                        (click)= "btn_change_password()">Cambiar contraseña</button>
                                    
                    </div>
                    
                    
                    <div class="home">
                        <a href="login">Volver</a>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>