<div class="container-fluid">
<div class="central">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6" id="post-form">
      <div class="titulo">
          Cambio de Contraseña
      </div>
      
      <div *ngIf="showError" class="alert alert-danger mb-2" role="alert">
          {{message}}
        </div>
  
        <div [ngClass]="{'pt-5': !showError}"></div>
  
      <form [formGroup] ="form" novalidate>
                 
          <div class="row">
              <div class="col-12">
                    <label>Contraseña Actual <span style="color: #1995ad;">*</span></label>
                    <input class="box" type="password" formControlName="lastPassword" required>
                    <div *ngIf="form?.controls?.lastPassword?.touched && form?.controls?.lastPassword?.invalid">
                      <span style="font-family: 'Assistant',sans-serif;color: red;" *ngIf="form?.controls?.lastPassword?.errors?.required">La contraseña es requerida</span>
                      <span style="font-family: 'Assistant',sans-serif;color: red;" *ngIf="form?.controls?.lastPassword?.errors?.minlength">La contraseña debe tener al menos 8 caracterres</span>
                    </div>
              </div>
            </div>
  
              <div class="row">
                <div class="col-12">
                  <label >Nueva contraseña <span style="color: #1995ad;;">*</span></label> 
                  <input  type="password" class="box" formControlName="newPassword"  required>
                  <div *ngIf="form?.controls?.newPassword?.touched && form?.controls?.newPassword?.invalid">
                    <span style="font-family: 'Assistant',sans-serif;color: red;" *ngIf="form?.controls?.newPassword?.errors?.required">La contraseña es requerida</span>
                    <span style="font-family: 'Assistant',sans-serif;color: red;" *ngIf="form?.controls?.newPassword?.errors?.minlength">La contraseña debe tener al menos 8 caracterres</span>
                  </div> 
              </div>
            </div>
  
              <div class="row">
                <div class="col-12">
                    <label>Confirmar Nueva Contraseña <span style="color: #1995ad;;">*</span></label>
                    <input class="box" type="password" formControlName="confirmPassword" required>
                    <div *ngIf="form?.controls?.confirmPassword?.touched && form?.controls?.confirmPassword?.invalid">
                      <span style="font-family: 'Assistant',sans-serif;color: red;" *ngIf="form?.controls?.confirmPassword?.errors?.required">La contraseña es requerida</span>
                      <span style="font-family: 'Assistant',sans-serif;color: red;" *ngIf="form?.controls?.confirmPassword?.errors?.minlength">La contraseña debe tener al menos 8 caracterres</span>
                    </div>
              </div>
              </div>
  
            <div class="row justify-content-center">
                <div class="d-flex justify-content-center">
                    <button class="submit"  type="button" (click)="btn_change_password()">Guardar</button>
                    <button class="submit" type="button" routerLink="/settings">Volver</button> 
                </div>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
  </div>
  </div>
    