
.container-info {
    min-height: 90vh;
    border-radius: 50%;

    a {
        cursor: pointer;
        color: rgb(42, 65, 194);
        position: absolute;
        right: 12px;
        &:hover {
            color: rgb(123, 137, 219) !important;
        }
    }
}