<div class="central mt-3 mb-3" >
  <div class="post-info">
      <div class="row" >
          <div *ngIf="post">
            <div class="col-6" style="display: inline-block;vertical-align: top;">
              <img style="max-width: 100%;" class="center" [src]="getImage()" alt="">
            </div>
            
            <div class="col-6" style="display: inline-block;vertical-align: top;">
              <h6 >{{post.title}}</h6>

              <p *ngFor="let paragaph of post?.descriptionParagraphs" style="font-family:'Tilt Neon', sans-serif;">{{paragaph}}</p>

              <div *ngIf="post?.typeImpairment?.length > 0" class="etiqueta">
                <h4 *ngFor="let type of post.typeImpairment;">
                    <span class="badge badge-pill badge-primary etiqueta">{{type.description}}</span>
                </h4>
              </div>

              <p *ngFor="let paragaph of post?.bodyParagraphs" class="mt-4" style="font-family:'Tilt Neon', sans-serif;">{{paragaph}}</p>

              <a (click)="redirectToProfile(result)" *ngIf ="post?.contactCreate?.name != null"> Creado por: {{post.contactCreate.name}}</a>
              <button class="submit" type="button" routerLink="/search">Volver</button>
            </div>  
  


          </div>
        </div>
  </div>
</div>

