<div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Bienvenido
                </div>
                <form id="loginform" [formGroup] ="form" novalidate>
                    
                
                    <input type="text" name="usuario" formControlName = "user" placeholder="Usuario" required>
                    
                    <input type="password" formControlName = "password"placeholder="Contraseña" name="password" required>
                    
                    <button type="submit" title="Ingresar" name="Ingresar"
                    (click)= "btn_login()">Iniciar Sesi&oacute;n</button>
                </form>
                <div class="pie-form">
                    <a href="#">¿Perdiste tu contraseña?</a>
                    <a href="#">¿No tienes Cuenta? Registrate</a>
                </div>
            </div>
            <div class="inferior">
                <a href="#">Volver</a>
            </div>
        </div>
</div>


