<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
<div class="audit-info col-8" style="max-height: 50vh;overflow-y: auto;">
    <h3>Autor: {{autor?.name}}</h3>
    
    <div class="container" *ngIf="eventElement">
        <div class="row">
            <div *ngIf="eventElement" class="col-6">
              <img style="max-width: 80%; margin-left: 40px;" [src]="getImage()" alt="">
            </div>
            <div class="col-6">
              <h6 class="title-post" >{{eventElement.title}}</h6>
              <P>{{eventElement.startDate | date: 'shortDate'}}- {{eventElement.endDate | date: 'shortDate'}}</P>
  
              <span class="mt-2" style="text-align: center; font-weight: lighter; font-style: italic;">{{eventElement.description}}</span>
            </div>
          </div>
    </div>

    <div class="container" *ngIf="post">
        <div class="row">
            <div class="col-12">
                <img style="max-width: 100%;" class="center" [src]="getImage()" alt="">
    
                <h6 style="font-weight: bold; font-size: 20px; text-align: center;">{{post.title}}</h6>

                <span class="mt-4" style="text-align: center; font-weight: lighter; font-style: italic;">{{post.description}}</span>

                <div *ngIf="post?.typeImpairment?.length > 0" class="mt-2 d-flex flex-wrap">
                  <h4 *ngFor="let type of post.typeImpairment;">
                      <span class="badge badge-pill badge-primary m-1">{{type.description}}</span>
                  </h4>
                </div>

                <p *ngFor="let paragaph of paragaphs" class="mt-4">{{paragaph}}</p>
              </div>
        </div>
  
    </div>

    <div class="row justify-content-center box">
        <div class="d-flex justify-content-center">
          <button type="button" title="autorizeEvent"  (click)="btn_Authorize()">Autorizar</button> 
          <button type="button" title="denyEvent"  (click)="btn_Deny()">Rechazar</button>
        </div>
    </div>

    <p *ngIf="reason != ''">Motivo del rechazo: <samp class="reason-error">{{reason}}</samp></p>
  </div>
  <div class="col-2"></div>
</div>
</div>