<div class="maintenance-background">
    <div class="maintenance-container">
        <i class="fas fa-gear gear top-right"></i>
        <i class="fas fa-gear gear bottom-left"></i>
        <img src="assets/image/logo.png" alt="Icono de mantenimiento" class="maintenance-logo">
        <div class="maintenance-content">
            <h1>¡Estamos realizando algunas mejoras!</h1>
            <p>Estamos trabajando duro para mejorar tu experiencia. ¡Volveremos pronto!</p>
        </div>
    </div>
</div>