  body {
    background-color: #FFFFFF; 
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'Nunito', sans-serif;
    
  }
  
  #central {
    margin-top: 40px;
    margin-bottom: 40px; 
    border-radius: 25px;
  } 

  h2{
    font-family: 'Assistant',sans-serif;
    font-size:medium;
    font-weight: bolder;
    padding-top: 15px;
    text-align: center;
  }
  
  
  
  
  
  
