body {
    background-color: #FFFFFF; 
    display: grid;
    min-height: 100vh;
  }
  
  #central {
    margin-top: 40px;
    margin-bottom: 40px; 
    border-radius: 25px;
  } 
  
  #profile-form {
    padding-top: 30px;
    padding-bottom: 15px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
      
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
      
    box-sizing: border-box;
    height: 100%;
    
    border-radius: 25px;
    margin-top: 28px;
    
    }

  .title-profile {
    color: black;
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  .subtitle-profile {
    color: #1995AD;
    font-size: 28px;
    font-family: 'Tilt Neon', sans-serif;
    margin-top: 20px;
  }


  .submit {
        font-family:'Tilt Neon', sans-serif;
        font-size: 100%;
        color:#FFFFFF;
        border: none;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        background-color: #1995AD;
        min-width: 130px;
        height: 30px;
      }

i {
  color: black;
  &:hover {
    color: #1995AD;
  }
}

.box a {
    display: flex;
    flex-direction: column;
    font-family:'Assistant',sans-serif;
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.box label {
  color:black;
  font-size: 18px;
  font-family: 'Tilt Neon', sans-serif;
  display: flex;
  text-transform: uppercase;
}

.box i {
  color: #1995ad;
  font-size:18px;
  margin-right: 10px;
}

p{
  font-family: 'Assistant',sans-serif;
  font-size:medium;
  padding-top: 5px;
  text-align: justify;
}

 .address {
  margin-right: 10px;
  font-family: 'Assistant',sans-serif;
  font-size: 16px;
  color: #1995ad;
  font-weight: bold;
  text-transform: uppercase;

} 

.ubicacion a{
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-family: 'Assistant',sans-serif;
  font-weight: normal;
  background-color: #A1D6E2;
}

.us label{
  margin-top: 20px; 
  margin-left: 65px; 
  font-weight: bolder; 
  font-size: 16px;
  font-family: 'Tilt Neon',sans-serif;
  color: #1995ad;
  margin-right: 10px;
  text-transform: uppercase;
}

.us p {
  font-family: 'Assistant',sans-serif;
  text-align: justify;
}

.user span {
  border-radius: 10px;
    padding: 6px;
    text-align: center;
    font-family: 'Assistant',sans-serif;
    font-weight: normal;
    background-color: #A1D6E2;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: medium;
    text-transform: uppercase;
    font-weight: bolder;
}