<div class="container-fluid">
<div id="central" *ngIf="key != ''" style="height: 78vh;">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" id="table" *ngIf="key == 'event'">
    <div class="titulo">
      Eventos
    </div> 
    
    <div style="height: 100%;">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <select [(ngModel)]="dateFilter" class="form-select form-select-sm filterMenu" aria-label="form-select-sm example">
            <option [ngValue]="null" style="text-align: center;">Seleccionar todas</option>
            <option [ngValue]="1">Última semana</option>
            <option [ngValue]="2">Último mes</option>
            <option [ngValue]="3">Último año</option>
          </select>              
        </div>
        <div class="col-4">
          <select [(ngModel)]="statusFilter" class="form-select form-select-sm filterMenu" aria-label="form-select-sm example">
            <option [ngValue]="null" style="text-align: center;">Seleccionar todos</option>
            <option [ngValue]="1" style="text-align: center;">En Espera</option>
            <option [ngValue]="2" style="text-align: center;">Autorizado</option>
            <option [ngValue]="3" style="text-align: center;">Rechazado</option>

          </select>              
        </div>
        <div class="col-2"></div>
      </div>
      <table class="table">
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Inicio</th>
              <th scope="col">Fin</th>
              <th scope="col">Evento</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events | filtroAuditEvent: page: statusFilter: dateFilter ">
              <td>
                <button (click)="openDialog(event.id)" class="icon-button" aria-label="Icon button">
                <span>...</span>
              </button>
            </td>
            <td>{{event.startDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{event.endDate | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{event.title}}</td>
            <td class="status-cell">
              <span style="background-color: #157347;" *ngIf="event?.state?.id === 2">Autorizado</span> 
              <span style="background-color: #b02a37;" *ngIf="event?.state?.id === 3">Rechazado</span>  
              <span style="background-color: grey;" *ngIf="event?.state?.id === 1 || event?.state === null ">En espera</span>
            </td>
            </tr>
          </tbody>
      </table>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <div class="col-6 justify-contact-center">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                  <button (click)="prevPage()">Anterior</button>
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                  <button (click)="nextPage()" [disabled]="(events | filtroAuditEvent: page: statusFilter: dateFilter)?.length == 0">Siguiente</button>
                </div>
                <div class="col-1"></div>
              </div>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
       </div>
    </div>
    </div>
    <div class="col-2"></div>

  </div>

  <div class="row">
    <div class="col-2"></div>
  <div class="col-8" id="table" *ngIf="key == 'post'">
    <div class="titulo">
      Publicaciones de Contenido
    </div> 
    
    <div style="height: 100%;">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
          <select [(ngModel)]="dateFilter" class="form-select form-select-sm filterMenu" aria-label="form-select-sm example">
            <option [ngValue]="null" style="text-align: center;">Seleccionar todas</option>
            <option [ngValue]="1">Última semana</option>
            <option [ngValue]="2">Último mes</option>
            <option [ngValue]="3">Último año</option>
          </select>              
        </div>
        <div class="col-4">
          <select [(ngModel)]="statusFilter" class="form-select form-select-sm filterMenu" aria-label="form-select-sm example">
            <option [ngValue]="null" style="text-align: center;">Seleccionar todos</option>
            <option [ngValue]="1" style="text-align: center;">En Espera</option>
            <option [ngValue]="2" style="text-align: center;">Autorizado</option>
            <option [ngValue]="3" style="text-align: center;">Rechazado</option>

          </select>              
        </div>
        <div class="col-2"></div>
      </div>
      <table class="table">
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Fecha</th>
              <th scope="col">Título</th>
              <th scope="col">Descripción</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of posts | filtroAuditPost: page: statusFilter: dateFilter ">
              <td>
                <button (click)="openDialog(post.id)" class="icon-button" aria-label="Icon button">
                <span>...</span>
              </button>
            </td>
            <td>{{post.dateEntered | date: 'dd/MM/yyyy HH:mm'}}</td>
            <td>{{post.title}}</td>
            <td>{{post.description | truncate}}</td>
            <td class="status-cell">
              <span style="background-color: #157347;" *ngIf="post?.state?.id === 2">Autorizado</span> 
              <span style="background-color: #b02a37;" *ngIf="post?.state?.id === 3">Rechazado</span>  
              <span style="background-color: grey;" *ngIf="post?.state?.id === 1 || post?.state === null ">En espera</span> 
            </td>
            </tr>
          </tbody>
      </table>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-3"></div>
            <div class="col-6 justify-contact-center">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                  <button (click)="prevPage()">Anterior</button>
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                  <button (click)="nextPage()" [disabled]="(posts |filtroAuditPost: page: statusFilter: dateFilter)?.length == 0">Siguiente</button>
                </div>
                <div class="col-1"></div>
              </div>
            </div>
            <div class="col-3"></div>
          </div>
        </div>
       </div>
    </div>

  </div>
  <div class="col-2"></div>
</div>
</div> 
</div>
    
















