  body {
    background-color: #FFFFFF; 
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: 'Nunito', sans-serif;
    
  }
  
  #central {
    margin-top: 40px;
    margin-bottom: 40px; 
    border-radius: 25px;
  } 
  
  .titulo {
    color: #1995AD;
    font-size: 25px;
    font-family: 'Tilt Neon', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 28px;
  }
  
  #table {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 0px;
      -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
      
      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
      
      box-sizing: border-box;
      width: 950px;
      height: 200px;
    
      border-radius: 25px;
      margin-left: 100px;
      margin-top: 28px;
      margin-right: 0px;
    }
  
   
  .action-cell {
    width: 40px;
    text-align: center;
  }
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .status-cell {
    text-align: center;
  }
  
  .status-badge {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
  }
  
  .status-badge[data-state="2"] {
    background-color: green;
  }
  
  .status-badge[data-state="3"] {
    background-color: red;
  }
  
  .status-badge[data-state="1"],
  .status-badge[data-state="null"] {
    background-color: gray;
  }
  
  .table-striped>tbody>tr>td,
  .table-striped>thead>tr>th {
    border-bottom: 1.5px solid #1995ad; 
    font-family: 'Nunito', sans-serif;;
  } 
  
  
  