<div id="contenedor">
  <div id="central">
    <div id="login">
      <div class="titulo">
          Registrate
          <h4 style="margin-top:15px;">Es simple y r&aacute;pido</h4>
      </div>
      
        <form [formGroup] ="form" novalidate>

          <div class="row"> 
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <mat-form-field class="input"appearance="fill">
                <mat-label>Nombre</mat-label>
                <input formControlName="firstName" matInput>
              </mat-form-field>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <mat-form-field class="input" appearance="fill">
                <mat-label>Apellido</mat-label>
                <input formControlName="lastName" matInput>
              </mat-form-field>
            </div>
          </div>

            <div class="row"> 
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="input" appearance = "fill" > 
                  <mat-label > Correo electrónico </mat-label > 
                  <input matInput formControlName="email" placeholder="pat@example.com" required > 
                  <!-- <mat-error *ngIf="form.email.invalid" > {{getErrorMessage() }} </mat-error >  -->
                </mat-form-field > 
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <mat-form-field  class="input" appearance = "fill" > 
                  <mat-label > Confirmar correo electrónico </mat-label > 
                  <input matInput formControlName="confirmEmail" placeholder = "pat@example.com" required > 
                  <!-- <mat-error *ngIf="form.email.invalid" > {{getErrorMessage() }} </mat-error >  -->
                </mat-form-field > 
              </div>
            </div>

            
            <div class="row"> 
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <mat-form-field class="input" appearance="fill">
                  <mat-label>Usuario</mat-label>
                  <input formControlName="userName" matInput>
                </mat-form-field>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <mat-form-field appearance="fill">
                  <mat-label>Fecha nacimiento</mat-label>
                  <input matInput formControlName="dateBrirth" [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>            
              </div>
            </div>


              <div class="row"> 
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                  <mat-form-field class="input" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput formControlName="password" type="password">
                  </mat-form-field>
                </div>
                
                <div class="col-12 col-sm-12 col-md-6 col-lg-6" style="text-align:center;">
                  <mat-form-field class="input" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput formControlName="confirmPassword" type="password">
                  </mat-form-field>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="d-flex justify-content-center">
                  <button class="m-2" mat-raised-button color="primary" type="button" (click)="btn_NewEvent()">Volver</button>
                  <button class="m-2" mat-raised-button color="primary" type="submit" (click)=btn_SaveEvent()>Registrarse</button>
                </div>
              </div>
        </form>

    </div>
  </div>
</div>
