body {
  background-color: #FFFFFF; 
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: 'Nunito', sans-serif;
  
}

#central {
  margin-top: 40px;
  margin-bottom: 40px; 
  border-radius: 25px;
} 


.titulo h1 {
    color: #1995AD;
  font-size: 35px;
  font-family: 'Tilt Neon', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.titulo h4 {
  color: black;
font-size: 25px;
font-family: 'Nunito', sans-serif;
text-transform: uppercase;
text-align: center;
margin-top: 40px;
}
.left label {
  color:black;
  font-size: 15px;
  font-family: 'Tilt Neon', sans-serif;
  text-align: center;
  margin-right: 100px;
  margin-left: 40px;
}

.right label {
  color:black;
  font-size: 15px;
  font-family: 'Tilt Neon', sans-serif;
  text-align: center;
  margin-right: 100px;
}

.form {
  padding: 50px 80px;
  text-align: center;
} 


.left input  {
  outline: none;
  border-color: #1995AD;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  padding: 15px 35px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  width: 75%;
  margin-left: 40px;
}

.right input  {
  outline: none;
  border-color: #1995AD;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  padding: 15px 35px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-family: 'Nunito', sans-serif;
  width: 75%;
}



.submit {
  font-family:'Nunito', sans-serif;
  font-size: 100%;
  color:#FFFFFF;
  width: 20%;
  height: 80%;
  border: none;
  margin-left: 30px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color: #1995AD;
  margin-top: 30px;
} 



#register {
padding-left: 40px;
padding-right: 40px;
padding-top: 30px;
padding-bottom: 0px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
  
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  
  box-sizing: border-box;
  width: 880px;
  height: 670px;

  border-radius: 25px;
  margin-left: 250px;
  margin-top: 28px;
  
}

