*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}    

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    color: #1995ad;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    font-family: 'Nunito',sans-serif;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.bg {
    position: absolute;
    width: 700px;
    z-index: -1;
    right: 0;
}

.esp{
    position: absolute;
    top: 900px;
    bottom: 0;
    width: 350px;
}

.header-info {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.header-txt {
    width: 50%;
    padding-right: 35px;
}


.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 600;
    color: #1995ad;
    margin-bottom: 10px;
    text-transform:uppercase;
    font-family: 'Nunito',sans-serifs;
}

.header-txt p {
    font-size: 16px;
    color: #545454;
    margin-bottom: 35px;
    font-family: 'Tilt Neon',sans-serif;
    justify-content: center;
    
}

.header-txt h3 {
    font-size: 16px;
    color: black;
    margin-bottom: 35px;
    font-family: 'Tilt Neon',sans-serif;
    font-size: 20px;
}

.btn-1 {
    display: inline-block;
    background-color: #BCBABE;
    padding: 13px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(27, 27, 27, 0.2);
    font-family: 'Tilt Neon',sans-serif;
}

.btn-1:hover {
    background-color: #1995ad;
}

.header-img {
    width: 50%;
}

.header-img img {
    width: 650px;
}

.info {
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.info-1 {
    width: 300px;
    padding: 15px 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 20px;
}   

.info-1 img {
    width: 35px;
}   

.info-1 h3 {
    font-size: 18px;
    color: #545454;
    margin-bottom: 25px;
}   

.info-1 p {
    font-size: 16px;
    color: #545454;
} 

.nosotros {
    position: relative;
}

.bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    z-index: -1;
}

.nosotros-info {
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.nosotros-img {
    width: 50%;
}

.nosotros-img img {
    width: 650px;
}

.nosotros-txt {
    width: 50%;
}

.nosotros-txt span {
    font-size: 16px;
    color: #1995ad;
    font-weight: 700;
    margin-bottom: 25px;
}

.nosotros-txt h2 {
    font-size: 45px;
    color: #BCBABE;
    margin-bottom: 30px;
}


.nosotros-txt p {
    font-size: 18px;
    color: #BCBABE;
    margin-bottom: 50px;
}

a {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: #BCBABE;
}

@media(max-width:991px){

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }


    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a{
        color: #ffffff;
    }

    .menu .navbar ul li a:hover{
        color: #bebebe;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }


    .bg {
        width: 500px;
    }

    .esp {
        display: none;
    }

    .header-info {
        flex-direction: column;
        padding: 30px;
    }

    .header-txt {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .header-txt h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .header-img{
        width: 100%;
        text-align: center;
        padding-top: 35px;
    }

    .header-img img {
        width: 50px;
    }

    .nosotros-txt {
        width: 100%;
    }

    .nosotros-txt h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .nosotros-txt p {
        margin-bottom: 20px;
    }
}



























