<header class="header">
  <img class="bg" src="/assets/image/bg.svg" alt="">
  <img class="esp" src="/assets/image/especies.png" alt="">
  <div class="menu container">
    <a href="#" class="logo">Food</a>
    <input type="checkbox" id="menu">
    <label for="menu"><img src="/assets/image/menu.png" class="menu-icono" alt=""></label>
     <nav class="navbar">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Reservaciones</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <div class="header-content container">
    <div class="header-info">
      <div class="header-txt">
        <h1>Tu comida favorita a domicilio y fresca</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates laudantium autem veniam, inventore
          reiciendis laborum aliquid iusto iure doloremque dolor harum tenetur, quia, molestias facere? Nisi
          perspiciatis saepe nostrum labore.
        </p>
        <a href="#" class="btn-1">Seccion menu</a>
      </div>
      <div class="header-img">
        <img src="/assets/image/ensalada-1.png" alt="">
      </div>
    </div>
  </div>
</header>

<section class="info container">
  <div class="info-1">
    <img src="/assets/image/time.svg" alt="">
    <h3>Horario</h3>
    <p> Lunes a Viernes 9am a 8 pm</p>
  </div>


  <div class="info-1">
    <img src="/assets/image/gps.svg" alt="">
    <h3>Ubicacion</h3>
    <p> Córdoba, Argentina </p>
  </div>



  <div class="info-1">
    <img src="/assets/image/phone.svg" alt="">
    <h3>Telefono</h3>
    <p> +54 9 0351-153010656</p>
  </div>

</section>

<section class="nosotros">
  <img class="bg-2" src="/assets/image/time.svg" alt="">
  <div class="nosotros-info container">
    <div class="nosotros-img">
      <img src="/assets/image/ensalada-2.png" alt="">
    </div>
    <div class="nosotros-txt">
      <span>Premium</span>
      <h2>La mejor calidad alimentos frescos del dia</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus velit optio officiis veniam dolores voluptates
        natus sint quasi odit vitae alias error tempora modi esse animi, maiores itaque, mollitia hic.
      </p>
      <a href="#" class="btn-1">Saber Mas</a>
    </div>
  
  
  
 
  </div>
</section>