<header class="header">
  <img class="bg" src="/assets/image/bg.svg" alt="">
  <div class="header-content container">
    <div class="header-info">
      <div class="header-txt">
        <h1>Comunidad</h1>
        <h1>Par Impar</h1>
        <p>
          Somos un espacio dedicado a la comunidad de
          personas con discapacidad.
          Aquí encontrarás información, recursos y un sentido
          de comunidad que promueve la inclusión, el entendimiento
          y la celebración de la diversidad.
        </p>
        <h3>¡Únete a nuestra comunidad y sé parte del cambio!</h3>
        <a href="#" class="btn-1">Saber m&aacute;s</a>
      </div>
      <div class="header-img">
        <img src="/assets/image/ensalada-1.png" alt="">
      </div>
    </div>
  </div>
  
