<div class="container-fluid">
    <div class="row">
            <div class="col-1"></div>
            <div class="col-10" >
                <mat-card style="border-radius: 25px;margin-top: 20px;">
                    <mat-form-field class="w-100" appearance="fill">
                      <mat-label style="font-family: 'Nunito',sans-serif;">Buscar</mat-label>
                      <input [(ngModel)]="searchText" matInput (keyup.enter)="btn_search()">
                      <mat-icon (click)="btn_search()"  style="cursor: pointer;" matSuffix>search</mat-icon>
                    </mat-form-field>
                    
                    <div class="  text-center" id="more-filters">
                        <button (click)="showMoreInfo=!showMoreInfo" style="margin-bottom: 25px;">Seleccione a continuación un filtro de su agrado</button>
                        <div *ngIf="showMoreInfo" class="row">
                            <div class="col-2"></div>
                            <div class="col-10">
                                <div class="row" style="text-align: left;">
                                    <div class="col-6" *ngFor="let type of typeImpairments; let i = index" style="padding-top: 8px;">
                                        <input type=checkbox [(ngModel)]="typeImpairmentsAux[i]" style="margin-right: 10px;">{{type.description}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-2"></div>
                           
                        </div>
                    </div>
                </mat-card>
              </div>
              <div class="col-1"></div>
    </div>

    <div class="row">
            <div class="col-1"></div>
            <div *ngIf="notResoult" class="col-10 mt-3 mb-3">
                <h3 style="font-family: 'Assistant',sans-serif;">La búsqueda no obtuvo ningún resultado</h3>
            </div>
            <div class="col-1"></div>
    </div>

    <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div *ngFor="let result of resultsSearch;" class="info">
                    <div class="row">
                        <div class="col-4">
                            <img style="height: 180px; max-width: 100%;" class="center" [src]="getImage(result)">
                        </div>
    
                        <div class="col-8">
                            <h3>{{getTitle(result)}}</h3>
                            <p style="font-family: 'Assistant',sans-serif;">{{(result.description.length > 200)? (result.description | slice:0:200)+'...':(result.description)}}</p>
                            <div *ngIf="result?.typeImpairment?.length > 0" class="d-flex flex-wrap">
                                <h4 *ngFor="let type of result.typeImpairment;">
                                    <span class="badge badge-pill badge-primary">{{type.description}}</span>
                                </h4>
                            </div>
                            <a (click)="redirectToProfile(result)" *ngIf ="result?.contactCreate?.name != null" style="cursor:pointer"> Creado por: {{result.contactCreate.name}}</a>
                            <button type="button" title="Mas Información" style="vertical-align: bottom;" class="submit" (click)= "redirectToMoreInfo(result)">Más Información</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
    </div>
</div>