.container-search {
    min-height: 90vh;
}

#more-filters {
    background-color: rgb(249, 249, 250);
    color:rgb(5, 0, 0);
    a {
        vertical-align: middle;
    }
    font-family:'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 120%;
span{
    font-family:'Quicksand', sans-serif !important;
    font-weight: bold !important;
    font-size: 120% !important;
}
}





.card-search {
    max-height: 200px;
    width: 100%;
    h3 {
        font-weight: bold;
        color: black;
    }

    a {
        cursor: pointer;
        color: rgb(42, 65, 194);
        position: absolute;
        bottom: 50px;
        right: 12px;
        &:hover {
            color: rgb(123, 137, 219) !important;
        }
    }

    button {
        position: absolute;
        bottom: 6px;
        left: -2px;
    }
}