@import '@angular/material/prebuilt-themes/indigo-pink.css';

/*
.opcionMenu {
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: 200;
}



// .logo {
//     background: rgb(41,41,41);
//     background: radial-gradient(circle, rgba(41,41,41,1) 0%, rgba(50,130,184,0.5942576859845501) 84%);
// }

//html, body { height: 100%; }
body { margin: 0;font-family:'Tilt Neon', sans-serif; }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.block-ui-wrapper {
    background: rgba(255, 255, 255, 0.678) !important;
}
*/

body {
        background: url("/assets/image/fondo_pag.jpg") no-repeat;
        background-repeat: no-repeat;
    
}



   mat-dialog-container {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
      -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
      
      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
      
      box-sizing: border-box;
      border-radius: 25px !important;
      padding-bottom: 15px;
      margin-top: 28px;
   }

   .snackBar-end {
    margin-bottom: 50px !important;
    font-family:'Tilt Neon', sans-serif !important;
    --mat-mdc-snack-bar-button-color:#1995ad !important;
   }

   .modalDisabilities {
    min-height: 280px;
    max-height: 600px;
   }

   .modalAuditoria {
    min-width: 50vw;
    min-height: 60vh;
    max-height: 86vh;
   }