@import '@angular/material/prebuilt-themes/indigo-pink.css';

/*.titles {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
.opcionMenu {
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: 200;
}

body {
    background-color: #C4DFE6; 
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(2,2,42,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
}

// .logo {
//     background: rgb(41,41,41);
//     background: radial-gradient(circle, rgba(41,41,41,1) 0%, rgba(50,130,184,0.5942576859845501) 84%);
// }

//html, body { height: 100%; }
body { margin: 0;font-family:'Tilt Neon', sans-serif; }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.block-ui-wrapper {
    background: rgba(255, 255, 255, 0.678) !important;
}
*/

body {
        background: url("/assets/image/fondo_pag.jpg") no-repeat;
        background-repeat: no-repeat;
    
}

/* ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #1995ad; 
    border-radius: 3px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #e2e2e2; 
  }
   */