<div class="contenedor">
  <div class="container"> 
       <div class="top-div">
         <div *ngIf="actionLog?.postViews?.length != 0 || actionLog?.postViews?.length != 0 || actionLog?.profileViews?.length != 0">
             <div class="titulo-top mb-5">
                 Top 5 en visitas
             </div>

             <div class="row">

                 <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="actionLog?.postViews?.length != 0" >
                     <table class="table table-striped table-hover mb-5">
                         <thead>
                             <tr>
                                 <th scope="col">Cantidad de visitas</th>
                                 <th scope="col">Titulo de la publicacion</th>
                                 <th scope="col">Autor</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let posts of actionLog.postViews">
                               <th>{{posts.viewrs}}</th>
                               <th>{{posts.title}}</th>
                               <th>{{posts.name}}</th>
                             </tr>
                           </tbody>
                       </table>
                 </div>

                 <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="actionLog?.eventViews?.length != 0">
                     <table class="table table-striped table-hover mb-5">
                         <thead>
                             <tr>
                                 <th scope="col">Cantidad de visitas</th>
                                 <th scope="col">Titulo del evento</th>
                                 <th scope="col">Autor</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let event of actionLog.eventViews">
                               <th>{{event.viewrs}}</th>
                               <th>{{event.title}}</th>
                               <th>{{event.name}}</th>
                             </tr>
                           </tbody>
                       </table>
                 </div>

                
                 <div class="mb-5" *ngIf="actionLog?.profileViews?.length != 0">
                     <table class="table table-striped table-hover mb-5">
                         <thead>
                             <tr>
                                 <th scope="col">Cantidad de visitas</th>
                                 <th scope="col">Perfil del usuario</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let profile of actionLog.profileViews">
                               <th>{{profile.viewrs}}</th>
                               <th>{{profile.name}}</th>
                             </tr>
                           </tbody>
                       </table>
                 </div>
               </div>
             </div>

             

      
         <div *ngIf="actionLog?.graphicImpediment?.length != 0" >
             <div class="titulo-top mb-5">
                 Filtros mas aplicados
             </div> 

             <google-chart class="center" style="width: 100%; min-height: 400px;"
                 [type]="type"
                 [data]="data"
                 [columns]="columnNames">
             </google-chart>
         
           </div>
             
       
         <div *ngIf="actionLog?.userActionLog?.length != 0">
             <div class="titulo-top mb-5">
                 Acciones de usuario
             </div>

             <table class="table table-striped table-hover mb-5">
                 <thead>
                     <tr>
                         <th scope="col">Fecha</th>
                         <th scope="col">Accion</th>
                         <th scope="col">Filtros Aplicados</th>
                         <th scope="col">Texto buscado</th>
                         <th scope="col">Accion realizada en:</th>
                         <th scope="col">Autor de la accion</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr *ngFor="let userAction of actionLog.userActionLog">
                       <th>{{userAction.dateEntered}}</th>
                       <th>{{userAction.description}}</th>
                       <th>{{userAction.filtersDescription}}</th>
                       <th>{{userAction.searchText}}</th>
                       <th>{{userAction.actionDone}}</th>
                       <th>{{userAction.contactAction}}</th>
                     </tr>
                   </tbody>
               </table>
         </div>
      
 </div>
</div>
</div>

 

