<div class="container-fluid">
  <div class="central">
    <div class="row">
      <div class="col-1"></div> 
      <div class=" col-10 top-div">
         <div *ngIf="actionLog?.postViews?.length >= 0 || actionLog?.postViews?.length >= 0 || actionLog?.profileViews?.length >= 0">

             <div class="row" style="padding-bottom: 0;">

                 <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="actionLog?.postViews?.length >= 0" >
                  <div class="titulo-top mb-5">
                    Top 5 en visitas por Publicaciones
                </div>
      
                  <div style="height: 100%; overflow: auto;">
                    <table class="table">
                           <thead>
                               <tr>
                                   <th scope="col">Cantidad de visitas</th>
                                   <th scope="col">Título de la publicacion</th>
                                   <th scope="col">Autor</th>
                               </tr>
                             </thead>
                             <tbody>
                               <tr *ngFor="let posts of actionLog?.postViews">
                                 <td>{{posts.viewrs}}</td>
                                 <td>{{posts.title}}</td>
                                 <td>{{posts.name}}</td>
                               </tr>
                             </tbody>
                    </table>
                  </div>
                 </div>

                 <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="actionLog?.eventViews?.length >= 0">
                  <div class="titulo-top mb-5">
                    Top 5 en visitas por Eventos
                </div>
   
                
                <div style="height: 100%; overflow: auto;">
                  <table class="table">
                         <thead>
                             <tr>
                                 <th scope="col">Cantidad de visitas</th>
                                 <th scope="col">Nombre del evento</th>
                                 <th scope="col">Autor</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let event of actionLog?.eventViews">
                               <td>{{event.viewrs}}</td>
                               <td>{{event.title}}</td>
                               <td>{{event.name}}</td>
                             </tr>
                           </tbody>
                       </table>
                </div>
                 </div>

                
                 <div class="mb-5" *ngIf="actionLog?.profileViews?.length >= 0">
                  <div class="titulo-top mb-5">
                    Top 5 en visitas por Usuario
                </div>
   
                <div style="height: 100%; overflow: auto;">
                  <table class="table">
                         <thead>
                             <tr>
                                 <th scope="col">Cantidad de visitas</th>
                                 <th scope="col">Perfil del usuario</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let profile of actionLog?.profileViews">
                               <td>{{profile.viewrs}}</td>
                               <td>{{profile.name}}</td>
                             </tr>
                           </tbody>
                       </table>
                </div>
                 </div>
               </div>
             </div>
      </div>
      <div class="col-1"></div> 
    </div>   


    <div class="row">
      <div class="col-1"></div>       
      <div class="col-10 top-div">
        <div class="row">
        <div class="col-2"></div> 
        <div class="col-8" *ngIf="actionLog?.graphicImpediment?.length >= 0" >
             <div class="titulo-top mb-5">
                 Búsquedas más solicitadas
             </div>

            <div> 
              <div *ngIf="chartOption != null" echarts [options]="chartOption" [theme]="'macarons'"></div>
            </div> 
           </div>
           <div class="col-2"></div> 
          </div>
          </div>  
      <div class="col-1"></div> 
    </div>  


    <div class="row">
      <div class="col-1"></div>       
          <div class="col-10 top-div">
         <div *ngIf="actionLog?.userActionLog?.length >= 0" >
             <div class="titulo-top mb-5">
                 Acciones por usuarios
             </div>
         <div style="max-height: 600px;">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-2">
              <select [(ngModel)]="dateFilter" class="form-select form-select-sm filterMenu" aria-label="form-select-sm example">
                <option [ngValue]="null" style="text-align: center;">Fecha</option>
                <option [ngValue]="1">Última semana</option>
                <option [ngValue]="2">Último mes</option>
                <option [ngValue]="3">Último año</option>
              </select>              
            </div>
            <div class="col-2">
              <select [(ngModel)]="actionFilter" class="form-select form-select-sm filterMenu" aria-label="form-select-sm example">
                <option [ngValue]="null" style="text-align: center;">Acción</option>
                <option [ngValue]="type.description" *ngFor="let type of actionLog?.typesActionLo">{{type.description}}</option>
              </select>              
            </div>
            <div class="col-4">
              <input type="text" class="form-control mb-2 form-control-sm filterMenu" placeholder="Buscar autor" #txtSearch (keyup) = "onSearch(txtSearch.value)">
            </div>
            <div class="col-2"></div>
          </div>
             <table class="table" >
                 <thead>
                     <tr>
                         <th scope="col">Fecha</th>
                         <th scope="col">Acción</th>
                         <th scope="col">Filtros Aplicados</th>
                         <th scope="col">Texto buscado</th>
                         <th scope="col">Acción realizada en:</th>
                         <th scope="col">Autor de la acción</th>
                     </tr>
                   </thead>
                    <tbody >
                      <tr *ngFor="let userAction of actionLog?.userActionLog |filtro: page: search: actionFilter: dateFilter">
                        <td style="white-space:nowrap;">{{userAction.dateEntered | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td title="{{userAction.description}}" >{{userAction.description | truncate: 30}}</td>
                        <td title="{{userAction.filtersDescription}}">{{userAction.filtersDescription | truncate: 30}}</td>
                        <td title="{{userAction.searchText}}">{{userAction.searchText | truncate: 30}}</td>
                        <td title="{{userAction.actionDone}}">{{userAction.actionDone | truncate: 30}}</td>
                        <td title="{{userAction.contactAction}}">{{userAction.contactAction | truncate: 30}}</td>
                      </tr>
                    </tbody>
                   
               </table>
               <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6 justify-contact-center">
                      <div class="row">
                        <div class="col-1"></div>
                        <div class="col-4">
                          <button (click)="prevPage()">Anterior</button>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-4">
                          <button (click)="nextPage()" [disabled]="(actionLog?.userActionLog |filtro: page: search: actionFilter: dateFilter)?.length == 0">Siguiente</button>
                        </div>
                        <div class="col-1"></div>
                      </div>
                    </div>
                    <div class="col-3"></div>
                  </div>
                </div>
               </div>
          </div>  
         </div>
        </div>
        <div class="col-1"></div> 
      </div>  
   
</div>
</div>

 

