.contenedor {
    min-height: 90vh;
}

.title-post {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: x-large;
    color:#48a7e5;
    justify-content: center;
    margin-left: 40%;
}
