<div class="container-fluid">
  <div class="central">
    <div class="row">
      <div class="col-2"></div> 
      <div class=" col-8 top-div">
         <div *ngIf="actionLog?.postViews?.length >= 0 || actionLog?.postViews?.length >= 0 || actionLog?.profileViews?.length >= 0">

             <div class="row" style="padding-bottom: 0;">

                 <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="actionLog?.postViews?.length >= 0" >
                  <div class="titulo-top mb-5">
                    Top 5 en visitas por Publicaciones
                </div>
      
                  <table class="table">
                         <thead>
                             <tr>
                                 <th scope="col">Cantidad de visitas</th>
                                 <th scope="col">Titulo de la publicacion</th>
                                 <th scope="col">Autor</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let posts of actionLog?.postViews">
                               <td>{{posts.viewrs}}</td>
                               <td>{{posts.title}}</td>
                               <td>{{posts.name}}</td>
                             </tr>
                           </tbody>
                       </table>
                 </div>

                 <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="actionLog?.eventViews?.length >= 0">
                  <div class="titulo-top mb-5">
                    Top 5 en visitas por Eventos
                </div>
   
                  <table class="table">
                         <thead>
                             <tr>
                                 <th scope="col">Cantidad de visitas</th>
                                 <th scope="col">Titulo del evento</th>
                                 <th scope="col">Autor</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let event of actionLog?.eventViews">
                               <td>{{event.viewrs}}</td>
                               <td>{{event.title}}</td>
                               <td>{{event.name}}</td>
                             </tr>
                           </tbody>
                       </table>
                 </div>

                
                 <div class="mb-5" *ngIf="actionLog?.profileViews?.length >= 0">
                  <div class="titulo-top mb-5">
                    Top 5 en visitas por Usuario
                </div>
   
                  <table class="table">
                         <thead>
                             <tr>
                                 <th scope="col">Cantidad de visitas</th>
                                 <th scope="col">Perfil del usuario</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let profile of actionLog?.profileViews">
                               <td>{{profile.viewrs}}</td>
                               <td>{{profile.name}}</td>
                             </tr>
                           </tbody>
                       </table>
                 </div>
               </div>
             </div>
      </div>
      <div class="col-2"></div> 
    </div>   


    <div class="row">
      <div class="col-2"></div>       
      <div class="col-8 top-div">
        <div class="row">
        <div class="col-2"></div> 
        <div class="col-6" *ngIf="actionLog?.graphicImpediment?.length >= 0" >
             <div class="titulo-top mb-5">
                 Filtros mas aplicados
             </div>

            <div> 
             <google-chart class="center" style="width: 80%; min-height: 200px;padding-bottom: 30px;"
                 [type]="type"
                 [data]="data"
                 [columns]="columnNames"
                 [options]="{'backgroundColor': 'transparent',fontName:'Nunito', fontSize: '15'}"
                 >
             </google-chart>
            </div> 
           </div>
           <div class="col-2"></div> 
          </div>
          </div>  
      <div class="col-2"></div> 
    </div>  


    <div class="row">
      <div class="col-2"></div>       
          <div class="col-8 top-div">
         <div *ngIf="actionLog?.userActionLog?.length >= 0" >
             <div class="titulo-top mb-5">
                 Acciones de usuario
             </div>
         <div style="overflow: auto;max-height: 600px;">
             <table class="table" >
                 <thead>
                     <tr>
                         <th scope="col">Fecha</th>
                         <th scope="col">Accion</th>
                         <th scope="col">Filtros Aplicados</th>
                         <th scope="col">Texto buscado</th>
                         <th scope="col">Accion realizada en:</th>
                         <th scope="col">Autor de la accion</th>
                     </tr>
                   </thead>
                    <tbody >
                      <tr *ngFor="let userAction of actionLog?.userActionLog">
                        <td>{{userAction.dateEntered}}</td>
                        <td>{{userAction.description}}</td>
                        <td>{{userAction.filtersDescription}}</td>
                        <td>{{userAction.searchText}}</td>
                        <td>{{userAction.actionDone}}</td>
                        <td>{{userAction.contactAction}}</td>
                      </tr>
                    </tbody>
                   
               </table>
          </div>  
         </div>
        </div>
        <div class="col-2"></div> 
      </div>  
   
</div>
</div>

 

