 <div class="container-fluid">
 <div id="central">
  <div class="row">
    <div class="col-2"></div>
  <div class="col-8" id="post-form">
    
     <div class="titulo">
          Publicación de Contenido
      </div> 
    
    
      <form [formGroup] ="form" novalidate>
    
        <div class="row">        
          <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <label>Titulo <span style="color: #1995ad;;">*</span> </label>
            <input type=text class="box" style="width: 100%;" formControlName="title" required>
            <div style="font-family: 'Assistant', sans-serif;" *ngIf="form?.controls?.title?.touched && form?.controls?.title?.invalid" class="text-danger">
              El título es requerido
            </div>
          </div>
        </div>
    
         <div class="row">
          <div class="col-12 form-group">
            <label for="typeImpairment">Palabras claves <span style="color: #1995ad;;">*</span></label>
           <div class="row">
              <div class="col-6" *ngFor="let type of typeImpairments; let i = index" style="padding-top: 8px;">
                <div class="d-flex flex-row" style="font-family: 'Assistant', sans-serif;">
                  <input type=checkbox [(ngModel)]="typeImpairmentsAux[i]" style="margin-right: 10px;" [ngModelOptions]="{standalone: true}">{{type.description}}
                </div>
              </div>
           </div>
            <div style="font-family: 'Assistant', sans-serif;" *ngIf="form?.controls?.typeImpairment?.touched && form?.controls?.typeImpairment?.invalid" class="text-danger">
              Debe elegir al menos una palabra clave del contenido del artículo.
            </div>
          </div>
        </div> 
        
        <div class="row">        
          <div class="col-12">
            <label>Descripcion <span style="color: #1995ad;;">*</span> </label>
            <textarea rows="3" class="box" style="width: 100%;" formControlName="description" required></textarea>
            <div style="font-family: 'Assistant', sans-serif;" *ngIf="form?.controls?.title?.touched && form?.controls?.description?.touched && form?.controls?.description?.invalid" class="text-danger"> 
                            La descripción es requerida
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 ">
                  <label>Cuerpo <span style="color: #1995ad;;">*</span></label>
                  <textarea rows="50" style="width: 100%;" class="box" formControlName="text" required></textarea>
                  <div style="font-family: 'Assistant', sans-serif;" *ngIf="form?.controls?.text?.touched && form?.controls?.text?.invalid" class="text-danger">
                      El contenido del articulo es requerido
                  </div>
          </div>
      </div>

      <div class="row">
        <div class=" col-12 col-sm-12 col-md-6 col-lg-6">
            <label> Estado: 
              <span style="color: #157347;font-weight: bold;" *ngIf="form?.value?.state?.id === 2">Autorizado</span> 
              <span style="color:#b02a37;font-weight: bold" *ngIf="form?.value?.state?.id === 3">Rechazado</span>  
              <span style="color: grey;font-weight: bold" *ngIf="form?.value?.state?.id === 1 || form?.value === null ">En espera</span>
            </label>
        </div>

        <div class=" col-12 col-sm-12 col-md-6 col-lg-6">
            <label> 
              {{form?.value?.state?.id === 2 ? 'Autorizado por: ':(form?.value?.state?.id === 3 ? 'Rechazado por: ' : 'Autorizado por: ')}} 
              <span *ngIf="form?.value?.contactAudit?.name"> {{ form.value.contactAudit.name }}</span></label>
        </div>
    </div>

    <div *ngIf="reason != null && reason != ''" class="row reasonReject">
      <div class=" col-12 col-sm-12 col-md-6 col-lg-6">
          <a (click) = "reasonDescription()"> Ver motivo de rechazo 
          </a>
      </div>
    </div>
    
    <div class="row">
      <div class=" col-12 col-sm-12 col-md-8 col-lg-8">
          <form [formGroup]="uploadForm" novalidate>      
              <div class="archivo">
                <input type="file" accept=".png, .jpg, .jpeg" style="visibility: hidden;display:none;" #loadImage name="file" (change)="onFileSelect($event)" />
                <button type="button" class="btn_Asistir" (click)="selectImage($event)">Seleccionar archivo</button>

              </div>
            </form>
      </div>

      <div class=" col-12 col-sm-12 col-md-4 col-lg-4" archivo>
          <img style="max-width: 100px;" *ngIf="imageAux != null" [src]="imageAux" alt="">
      </div>
  </div>

    
      
   
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <button type="submit" title="savePost" class="submit" (click)= "btn_SavePost()">Guardar</button>
        <button type="button" title="newPost" class="submit" (click)=" btn_NewPost()">Nuevo</button> 
        <button type="button" title="deletePost" class="submit" (click)=" btn_DeletePost()" [disabled]="this.form?.value?.id === 0">Eliminar</button>

      </div>
    </div>
  </form>
  </div>
  <div class="col-2"></div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8" id="post-table" style="padding-bottom: 25px; margin-bottom: 25px;">
    
    <div style="height: 100%; overflow: auto;">
      <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Título</th>
                <th scope="col">Descripción</th>
                <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let post of posts">
              <td>
                <button (click)="btn_SelectPost(post)" class="icon-button" aria-label="Icon button">
                <span>...</span>
              </button>
            </td>
              <td>{{post.title}}</td>
              <td>{{post.description | truncate}}</td>
              <td class="status-cell">
                <span style = "background-color: green;" *ngIf="post?.state?.id === 2">Autorizado</span> 
                <span style = "background-color: red;"  *ngIf="post?.state?.id === 3">Rechazado</span>  
                <span style = "background-color: grey;" *ngIf="post?.state?.id === 1 || post?.state === null ">En espera</span>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  <div class="col-2"></div>
</div>
</div> 
</div>
    
    
















