  body {
    background-color: #FFFFFF; 
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    
  }
  
  #central {
    margin-top: 40px;
    margin-bottom: 40px; 
    border-radius: 25px;
  } 

  h2{
    font-family: 'Tilt Neon',sans-serif;
    font-size:medium;
    font-weight: bolder;
    padding-top: 15px;
    text-align: center;
  }

  p{
    font-family: 'Assistant',sans-serif;
    font-size:medium;
    padding-top: 5px;
    text-align: justify;
  }
  
  .submit {
    font-family:'Tilt Neon', sans-serif;
    font-size: 100%;
    color:#FFFFFF;
    min-width: 130px;
    height: 30px;
    border: none;
    margin-left: 60px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #1995AD;
    padding:7px;
    text-align: center;
    margin-top: 20px;
   
  } 

  button:disabled {
    background-color: #BCBABE ;
    color:#444444 
  }
  
  .box_input {
    outline: none;
    border-color: #1995AD;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    padding: 15px 35px;
    background-color: #f9f9f9;
    margin-bottom: 15px;
    margin-top: 10px;
    display: inline-block;
    font-family: 'Assistant',sans-serif; 
    min-width: 300px;
    
  }
  
