body {
  background-color: #FFFFFF; 
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: 'Nunito', sans-serif;
  
}

#central {
  margin-top: 40px;
  margin-bottom: 40px; 
  border-radius: 25px;
} 

.titulo {
  color: #1995AD;
  font-size: 35px;
  font-family: 'Tilt Neon', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.row label {
  color:black;
  font-size: 15px;
  font-family: 'Tilt Neon', sans-serif;
  text-align: center;
  margin-right: 100px;
  padding-top: 10px;
}

.form {
  padding: 50px 80px;
  text-align: center;
}  



.box  {
  outline: none;
  border-color: #1995AD;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  padding: 15px 35px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito',sans-serif;
}

.box2  {
  outline: none;
  border-color: #1995AD;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  padding: 15px 35px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-family: 'Nunito',sans-serif;  
}

.submit {
  font-family:'Tilt Neon', sans-serif;
  font-size: 100%;
  color:#FFFFFF;
  width: 80px;
  height: 30px;
  border: none;
  margin-left: 35px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color: #1995AD;
  margin-top: 30px;
} 



#event-form {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    padding-bottom: 15px;
    margin-top: 28px;
  }


  #event-table {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 0px;
      -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
      box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
      
      border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
      
      box-sizing: border-box;
      
      height: 200px;
      width: 100%;
    
      border-radius: 25px;
      
      margin-top: 28px;
    }

    /* Estilos para el icono y la celda de acciones */
.action-cell {
  width: 40px;
  text-align: center;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Estilos para la celda de estado */
.status-cell {
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-weight: bold !important;

}

.status-cell span {
  border: 2px solid ;
  border-radius: 10px;
  padding: 4px;
  text-align: center;
}

.table tr td {
  border-bottom: 1.5px solid #1995ad; 
  font-family: 'Nunito', sans-serif !important;
  font-style: normal !important;
  background-color: transparent !important;
  font-size:13px;
  font-weight: normal;
  text-align: center;
}

.table tr th {
  border-bottom: 1.5px solid #1995ad; 
  font-family: 'Nunito', sans-serif;
  background-color: transparent;
  font-size:15px;
  font-weight: bold;
  text-align: center;
}

.mi-modal-custom .swal-title {
  font-family: 'Nunito', sans-serif; /* Cambia 'Arial' por el nombre de la fuente que desees utilizar */
}

.mi-modal-custom .swal-text {
  font-family: 'Arial', sans-serif; /* Cambia 'Arial' por el nombre de la fuente que desees utilizar */
}

/* Puedes agregar más estilos según sea necesario */
