<div class= "container-fluid">
<div id="central">
  <div class="row">
  <div class="col-2"></div> 
    <div class="col-8" id="event-form">
       <div class="titulo">
            Eventos
        </div> 
        <form [formGroup] ="form" novalidate>
      
          <div class="row">        
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <label>Titulo   <span style="color: #1995ad;;">*</span></label>
              <input type=text class="box" formControlName="title" required>
              <div style="font-family: 'Nunito', sans-serif;" *ngIf="form?.controls?.title?.touched && form?.controls?.title?.invalid" class="text-danger">
                El título es requerido
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="startDate">Fecha Inicio   <span style="color: #1995ad;;">*</span></label>
                <input type="datetime-local" class=" box2" formControlName="startDate" id="startDate" name="startDate" required>
                <div style="font-family: 'Nunito', sans-serif;" *ngIf="form?.controls?.startDate?.touched && form?.controls?.startDate?.invalid" class="text-danger">
                  La fecha de inicio es requerida
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="endDate">Fecha Fin   <span style="color: #1995ad;">*</span></label>
              <input type="datetime-local" class="box2" formControlName="endDate" id="endDate" name="endDate">
              </div>
            </div>
          </div>

          
          
         <div class="row">        
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
              <label>Descripción   <span style="color: #1995ad;;"> *</span> </label>
              <textarea  rows="8"  class="box" formControlName="description" required style="width: 100%;"></textarea>
              <div style="font-family: 'Nunito', sans-serif;" *ngIf="form?.controls?.description?.touched && form?.controls?.description?.invalid" class="text-danger">
                La descripción es requerida
              </div>
            </div>
            </div>
          </div>
  
  
        <div class="row">
          <div class=" col-12 col-sm-12 col-md-6 col-lg-6">
              <label> Estado: 
                <span *ngIf="form?.value?.state?.id === 2">Autorizado</span> 
                <span *ngIf="form?.value?.state?.id === 3">Rechazado</span>  
                <span *ngIf="form?.value?.state?.id === 1 || form?.value === null ">En espera</span>
            </label>
          </div>
  
          <div class=" col-12 col-sm-12 col-md-6 col-lg-6">
              <label>
                {{form?.value?.state?.id === 2 ? 'Autorizado por: ':(form?.value?.state?.id === 3 ? 'Rechazado por: ' : 'Autorizado por: ')}} 
                <span *ngIf="form?.value?.contactAudit?.name"> {{ form.value.contactAudit.name }}</span>
            </label>
          </div>
      </div>
      
      <div *ngIf="reason != null && reason != ''" class="row reasonReject">
        <div class=" col-12 col-sm-12 col-md-6 col-lg-6">
            <a style="cursor:pointer;" (click) = "reasonDescription()"> Ver motivo de rechazo 
            </a>
        </div>
      </div>

      <div class="row">
        <div class=" col-12 col-sm-12 col-md-8 col-lg-8">
            <form [formGroup]="uploadForm" novalidate>      
                <div class="archivo">
                  <input type="file" accept=".png, .jpg, .jpeg" style="visibility: hidden;display:none;" #loadImage name="file" (change)="onFileSelect($event)" />
                  <button type="button"  class="btn_Asistir"   (click)="selectImage($event)">Seleccionar archivo</button>
                </div>
              </form>
        </div>
  
        <div class=" col-12 col-sm-12 col-md-4 col-lg-4" archivo>
            <img style="max-width: 100px;" *ngIf="imageAux != null" [src]="imageAux" alt="">
        </div>
    </div>
  
     
      <div class="row justify-content-center">
        <div class="d-flex justify-content-center">
          <button type="submit" title="SaveEvent" class="submit" (click)= "btn_SaveEvent()">Guardar</button>
          <button type="button" title="NewEvent" class="submit" (click)="btn_NewEvent()">Nuevo</button> 
          <button type="button" title="DeleteEvent" class="submit" (click)=" btn_DeleteEvent()" [disabled]="this.form?.value?.id === 0">Eliminar</button>
  
        </div>
      </div>
    </form>
    </div> 
    <div class="col-2"></div> 
  </div>

  <div class="row">
    <div class="col-2"></div> 
     <div  class = "col-8" id="event-table" style="padding-bottom: 25px; margin-bottom: 25px;">
      <div style="height: 100%; overflow: auto; margin-bottom: 25px; padding-bottom: 25px;">
        <table class="table">
          <thead>
              <tr>
                  <th scope="col"></th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Fecha Inicio</th>
                  <th scope="col">Fecha Fin</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Inscriptos</th>
                  <th scope="col"></th>

              </tr>
          </thead>
  
              <tbody>
              <tr *ngFor="let event of events">
                <td>
                  <button (click)= "btn_SelectEvent(event)" class="icon-button" aria-label="Icon button">
                  <span>...</span>
                </button>
              </td>
                  <td>{{event.title}}</td>
                  <td>{{event.startDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{event.endDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                  <td class="status-cell">
                      <span style="background-color: green;" *ngIf="event?.state?.id === 2">Autorizado</span> 
                      <span style="background-color: red;" *ngIf="event?.state?.id === 3">Rechazado</span>  
                      <span style="background-color: grey;" *ngIf="event?.state?.id === 1 || event?.state === null ">En espera</span>
                  </td>
                  <td>{{event.attendeesCount}}</td>
                  <td>
                    <i class="fa-solid fa-file-excel" style="cursor:pointer" (click)="exportToExcel_Click(event.id)"></i>                  
                  </td>

              </tr>
            </tbody>
        </table>
      </div>
    </div>
   <div class="col-2"></div> 
   </div>  
  </div>
</div>     















































