#event button {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 130%;
  color:#0f4c75;
  width: 10%;
  height: 40px;
  border: none;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: auto;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

  background-color: #bbe1fa;
  
  margin-top: 20px;
}
#event button:hover {
  background-color: #0f4c75;
  color:#bbe1fa;
}

.input {
  width: 60%;
}
