 <div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 contenedor">
          <div class="row">
            <div class="title col-6">
                <img src="/assets/image/Contact us.png">
            </div>
            <div class="justify-content-center col-6">
                <h2>¡ CONTÁCTANOS !</h2>
                <p>Estamos encantados de tenerte aquí y queremos asegurarnos de que tu experiencia sea lo más
                    satisfactoria posible.</p>
                <p>Si en algún momento tienes alguna consulta, duda o sugerencia, ¡no dudes en ponerte en contacto con nosotros!</p>
                <p>Para facilitar la comunicación y garantizar una respuesta rápida, 
                te dejamos a continuación nuestra casilla de correo electrónico</p>
                <p>Nuestro equipo estará encantado de ayudarte en todo lo que necesites.</p>
                <span>comunidadparimpar@gmail.com</span>
                <h3>¡Gracias por ser parte de nuestra comunidad! Esperamos poder servirte pronto.</h3>
            </div>
          </div>  
        </div>
        <div class="col-2"></div>
    </div>
</div> 

