<div id="central">
  <div id="event-info">
        <div class="row">
          <div *ngIf="eventElement" class="col-6">
            <img style="max-width: 80%; margin-left: 40px;" [src]="getImage()" alt="">
          </div>
          <div class="col-6">
            <h6 class="title-post" >{{eventElement.title}}</h6>
            <P>{{eventElement.startDate | date: 'shortDate'}}- {{eventElement.endDate | date: 'shortDate'}}</P>

            <span class="mt-2" style="text-align: center; font-weight: lighter; font-style: italic;">{{eventElement.description}}</span>
          </div>


          <a (click)="redirectToProfile()" class="submit" *ngIf ="eventElement.contactCreate.name != null"> Creado por: {{post.contactCreate.name}}</a>
        </div>
  </div>
</div>