.post-info {
    min-height: 90vh;
}


body {
    background-color: #FFFFFF; 
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    
  }
  
  #central {
    margin-top: 40px;
    margin-bottom: 40px; 
    border-radius: 25px;
  } 
  
  
   p {
    color: black;
    font-size: 15px;
    font-family: 'Assistant', sans-serif;
    text-align:center;
    padding: 5px;
    text-align: justify;
  }
 
  .mjeInscripcion h2{
    font-family: 'Assistant', sans-serif;

  }
  .titulo {
    color: #1995AD;
    font-size: 25px;
    font-family: 'Tilt Neon', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 600;
    line-height: 1.5;

  }
  
  .title-post {
    color:black;
    font-size: 17px !important;
    font-family: 'Assistant', sans-serif;
    text-align: center;
  }
  
  h2 {
    color:black;
    font-size: 16px;
    font-family: 'Assistant', sans-serif;
    padding-top: 15px;
  }


  .submit {
    font-family:'Tilt Neon', sans-serif;
    font-size: 100%;
    color:#FFFFFF;
    min-width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #1995AD;
    margin-top: 50px;
  } 
  
  
    #event-info {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 30px;
      padding-bottom: 20px;
        -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
        
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        
        box-sizing: border-box;
      
        border-radius: 25px;
        margin-top: 28px;
      }
  
      a {
        font-family: 'Nunito',sans-serif;
        font-size:medium;
        margin-left: 130px;
        font-weight: bolder;
        cursor: pointer;
            color: rgb(42, 65, 194);
            position: absolute;
            right: 12px;
            &:hover {
                color:#1995AD !important;
      }
      }