<div class="container-fluid" *ngIf="showError">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8" id="event-info">
        <div class="row">
          <div class="row">
            <div class="col-5"></div>
            <div class="col-2">
                <i class="fa-solid fa-triangle-exclamation" style="color: red;font-size: 80px; text-align: center;"></i>
            </div>
            <div class="col-5"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10" style="text-align: center;">
              <h2>El evento que quieres visualizar no se encuentra disponible debido a que fue eliminado de nuestro sistema.</h2>
            </div>
            <div class="col-1"></div>
          </div>
        
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10" style="display: inline-block;vertical-align: top;text-align: center;"> 
              <p style="text-align: center;">
                Ante cualquier consulta comunicate con nosotros a través del correo electronico siguiente:
              </p> 
              <span style="text-align: center;">comunidadparimpar@gmail.com</span>
  
              <p style="text-align: center;">
                Tenemos otros eventos similares! Te invitamos a ingresar a nuestra pagina y navegar por nuestro calendario!
              </p>
              <div class="row justify-content-center">
                <div class="d-flex justify-content-center">
                  <button type="button" title="Ir a Calendario" class="submit" routerLink="/calendar">Ir A Calendario</button>
                </div>
            </div>

              </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
     <div class="col-2"></div>
    </div>
  </div>


<div class="container-fluid" *ngIf="!showError">
  <div id="central">
    <div class="row">
      <div class="col-2"></div>
    <div class="col-8" id="event-info">
          <div class="row">
            <div class="col-12" *ngIf="eventElement">

            <div  class=" mjeInscripcion">
              <div class="d-flex justify-content-center" style="width: 100%;padding-left: 50px;padding-right: 50px;">
                <img style="width: 80%;object-fit: contain;max-height: 40%;border-radius: 55px;" [src]="getImage()" alt="">
              </div>

              <h2 style = "font-family: 'Assistant',sans-serif;font-weight: bolder;" *ngIf="eventElement?.attendeesCount > 1">Se han inscripto {{eventElement.attendeesCount}} personas a este evento</h2>
              <h2 style = "font-family: 'Assistant',sans-serif;font-weight: bolder;" *ngIf="eventElement?.attendeesCount == 1">Se ha inscripto {{eventElement.attendeesCount}} persona a este evento</h2>
              <h2 style = "font-family: 'Assistant',sans-serif;font-weight: bolder;" *ngIf="eventElement?.attendeesCount == 0">Aun no se ha inscripto ninguna persona a este evento</h2>

              <div class="col-12">
                <div class="d-flex justify-content-center">
                  <h6 class="titulo" >{{eventElement.title}}</h6>
                </div>
              </div>

              <div class="col-12">
                <div class="d-flex justify-content-center title-post">
                  <p>Fecha del Evento: {{eventElement.startDate | date: 'shortDate'}}- {{eventElement.endDate | date: 'shortDate'}}</p>
                </div>
              </div>
              
              <div style="max-height: 68vh; overflow-y: auto;">
                <p *ngFor="let paragaph of eventElement?.descriptionParagraphs">{{paragaph}}</p>
              </div>
          </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="row">
          <div class="col-2">
            <button class="submit" type="button" (click)="goBack()">Volver</button>
          </div>
          <div class="col-10">
            <a (click)="redirectToProfile()" *ngIf ="eventElement?.contactCreate?.name != null"> Creado por: {{eventElement.contactCreate.name}}</a>
          </div>  
        </div>
      </div>  
    </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
</div>