<div class="container-fluid">
  <div id="central">
    <div class="row">
      <div class="col-2"></div>
    <div class="col-8" id="event-info">
          <div class="row">
            <div *ngIf="eventElement">

            <div  class="col-6" style="display: inline-block;vertical-align: top;">
              <img style="max-width: 100%;" [src]="getImage()" alt="">
              <h2 *ngIf="eventElement?.attendeesCount > 1">Se han inscripto {{eventElement.attendeesCount}} personas a este evento</h2>
              <h2 *ngIf="eventElement?.attendeesCount == 1">Se ha inscripto {{eventElement.attendeesCount}} persona a este evento</h2>
              <h2 *ngIf="eventElement?.attendeesCount == 0">Aun no se ha inscripto ninguna persona a este evento</h2>
            </div>

            <div class="col-6" style="display: inline-block;vertical-align: top;">
              <h6 class="titulo" >{{eventElement.title}}</h6>
              <P class="title-post">{{eventElement.startDate | date: 'shortDate'}}- {{eventElement.endDate | date: 'shortDate'}}</P>
              <p *ngFor="let paragaph of eventElement?.descriptionParagraphs"  style="font-family:'Tilt Neon', sans-serif;">{{paragaph}}</p>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="row">
          <div class="col-2">
            <button class="submit" type="button" (click)="goBack()">Volver</button>
          </div>
          <div class="col-10">
            <a (click)="redirectToProfile()" *ngIf ="eventElement?.contactCreate?.name != null"> Creado por: {{eventElement.contactCreate.name}}</a>
          </div>  
        </div>
      </div>  
    </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
</div>