<div id="container-fluid">
    <div class="row">
    <div class="col-2"></div>
    <mat-card class=" col-8" style="width: 100%;height: 100%;border-radius: 25px;margin: 20px;">
        <mat-card-content >
            <div id="central">
                <div id="calendar">
                    <div class="title-calendar">
                        Calendario de eventos
                    </div>
                    <div class="list-events">
                        <div class="row">
                            <div class="title-listEvent" style="color: #1995ad;">
                                Lista de Eventos
                            </div>
                            <div class="col-12 col sm-12 col-md-6 col-lg-6 calendar">
                                <!-- lista de eventos -->
                                
                              <div style="max-height: 250PX; overflow: auto;">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Evento</th>
                                        <th scope="col">Propietario</th>
                                        <th scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="notResoults">
                                            <td colspan="4">
                                                <div class="center">
                                                    Sin resultados
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let event of events;let i = index;" (click)="showEvents(event)" class="hoverInfo" >
                                            <td>{{event.startDate | date: 'mediumDate'}}</td>
                                            <td>{{event.title}}</td>
                                            <td>{{event?.contactCreate?.name}}</td>
                                            <td>
                                                <div *ngIf="this.configService?.isLogged" class="tableMoreInfo">
                                                    <button *ngIf = "!event.assist" class="btn_Asistir" (click)="assist(event,$event, i)" [disabled]="validateDate(event)">Asistir</button>
                                                    <button *ngIf = "event.assist" class="btn_Asistir" (click)="cancel_assist(event,$event, i)" [disabled]="validateDate(event)">No Asistir</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                  </table>
                            </div>
                                  
                            </div>
                            <!-- Calendario -->
                            <div class="col-12 col sm-12 col-md-6 col-lg-6 calendar-month">

                                <div class="d-flex justify-content-center align-self-center center" style="max-width: 400px; padding-left: 50px;">
                                    <button (click)="btn_Subtract()" class="navbar-toggler" type="button" >
                                        <mat-icon matSuffix style="cursor:pointer;">chevron_left</mat-icon>
                                    </button>
                                    <div class="d-flex justify-content-center align-self-center font-Month" style="margin-bottom:10px;max-width: 360px;">{{month}} {{now.getFullYear()}}</div>
                                    <button (click)="btn_Add()" class="navbar-toggler" type="button">
                                        <mat-icon matSuffix style="cursor:pointer;">chevron_right</mat-icon>
                                    </button>
                                </div>

                                <div class="d-flex flex-wrap calend" style="max-width: 360px;">
                                    <div 
                                    *ngFor="let day of calendarDates;" 
                                    style="width: 50px; height: 50px; border: 0.3px solid #1995ad;">
                                        <div style="position: relative; top: 2px; left: 5px;">
                                        {{day == 0 ? '' : day }}                                        
                                        </div>
                                        <div *ngIf="getEventsOfDay(day) != 0" style="background-color: royalblue; width: 20px; text-align: center; color: white; border-radius: 15%; position: relative; top: 5px; left: 15px;">
                                        {{ getEventsOfDay(day) }}                                        
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row justify-content-center submit">
                                <div class="d-flex justify-content-center">
                                    <button type="button" title="Nuevo Evento" routerLink="/events" *ngIf="configService.isLogged">Nuevo Evento</button> 

                              </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="col-2"></div>
</div>
</div>

