.title-calendar {
        font-family: 'Nunito',sans-serif;
        font-weight: 700;
        font-size:x-large;
        color:#1995AD;
        justify-content: center;
        margin-left: 40%;
        text-transform: uppercase;
    }

.list-events {
    font-family: 'Nunito', sans-serif;
    padding: 5%;

}

.title-listEvent {
    font-weight: 700;
    font-size:20px;
    color:#1f495f;
}

.calendar {
    padding: 20px;
    
}

.font-Month{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:#1995ad;
    justify-content: center;
    text-transform: uppercase;
}

.calend { 
    margin-left:15%;
}

#calendar button {
    font-family: 'Nunito', sans-serif;
    font-size: 130%;
    color:#0f4c75;
    width: 10%;
    height: 23px;
    border-color: #1995AD;
    padding: 0%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #bbe1fa;
  }
  #calendar button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
  }

  #prueba button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 130%;
    color:#0f4c75;
    width: 16%;
    height: 30px; 
    padding-bottom: 10px;
  }