.title-calendar {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: x-large;
        color:#48a7e5;
        justify-content: center;
        margin-left: 40%;
    }

.list-events {
    font-family: 'Quicksand', sans-serif;
    padding: 3%;

}

.title-listEvent {
    font-weight: 700;
    font-size:20px;
    color:#1b262c;
}

.calendar {
    padding: 20px;
}

.font-Month{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:#1b262c;
    justify-content: center;

}