body {
  background-color: #FFFFFF; 
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  
}

#central {
  margin-top: 40px;
  margin-bottom: 40px; 
  border-radius: 25px;
} 

.title-profile {
    color: #1995AD;
    font-size: 35px;
    font-family: 'Tilt Neon', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
  
}

.submit_danger:disabled {
  cursor: not-allowed;
  background-color: #BCBABE;
}


p {
  text-align: justify;
  line-height: 1.6;
}

.visible {
  visibility: visible;
  display: inherit;
}

.hidden {
  visibility: hidden;
  display: none;
}

.nav-tabs {
  margin-left: 20px;
  &.active {
    color: #1995AD !important;
    border-bottom: 2px solid #1995AD !important;
  }
  .nav-link.active {
    color: #1995AD !important;
    border-bottom: 2px solid #1995AD !important;
  }
}


.tab-content {
  border: solid 1px #BCBABE;
  border-radius: 25px;
}

#profile-form {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 15px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
     width: 100%;
     height: 100%;
  
    border-radius: 25px;
    margin-top: 28px;
  }


  .submit {
    font-family:'Tilt Neon', sans-serif;
    color:#FFFFFF;
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    background-color: #1995AD;
    margin-top: 30px;
    min-width: 130px;
    height: 30px;
  } 


.form {
  padding: 50px 80px;
  text-align: center;
  margin-left: 250px;
  display: flex;
  align-items: center;
}  



.box_input {
  outline: none;
  border-color: #1995AD;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  padding: 15px 35px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  margin-top: 10px;
  display: inline-block;
  font-family: 'Assistant',sans-serif; 
  min-width: 250px;
  
}
.box label {
  color:black;
  font-size: 15px;
  font-family: 'Tilt Neon', sans-serif;
  display: flex;
}

.box2_input  {
  outline: none;
  border-color: #1995AD;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  padding: 15px 35px;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'Assistant',sans-serif; 
  display: inline-block;
  min-width: 250px;
}

.box2 label {
  color:black;
  font-size: 15px;
  font-family: 'Tilt Neon', sans-serif;
  display: flex;
  flex-direction: column;
  }

  .box3 label {
    color:black;
    font-size: 15px;
    font-family: 'Tilt Neon', sans-serif;
    text-align: center;
    display: flex;
    margin-top: 10px;
    min-width: 250px;
    }

.box3_input {
  outline: none;
  border-color: #1995AD;
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  padding: 15px 35px;
  background-color: #f9f9f9;
  margin-bottom: 25px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  font-family: 'Assistant',sans-serif; 

}
.button {
  font-family:'Tilt Neon', sans-serif;
  font-size: 100%;
  color:#FFFFFF;
  border: none;
  margin-left: 35px;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color: #1995AD;
  margin-top: 30px;
  display: block;
  min-width: 130px;
  height: 30px;
} 

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-link {
  color: #636b6f;
}

.nav-tabs .nav-link.active {
  color: #000;
  border-bottom: 2px solid #000;
}

.tab-content {
  padding: 20px;
}

.imageStyle {
  min-height: 150px;
  max-height: 200px;
  margin-bottom: 40px;
  cursor:pointer;
  border-radius: 25px;
}

.iconPlus{
  top:-80px;
  padding:4px;
  background-color: #1995AD;
  color:white;
  border-radius: 50%;
  position: relative;
  left:35vw;
  font-size: 30px;
  cursor:pointer;
}

.box2_input:disabled{
  color: grey;
}

.submit_danger{
  font-family:'Tilt Neon', sans-serif;
  color:#FFFFFF;
  border: none;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  background-color:#dc3545;
  margin-top: 30px;
  min-width: 130px;
  height: 30px;
   
} 
