<div class="container-fluid">
  <div id="central">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8" id="profile-form">   
        <div class="title-profile">
          Mi Perfil
        </div>
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <form [formGroup]="uploadForm" novalidate style="visibility: hidden;display: none;">      
                <div class="archivo">
                  <input #fileImageProfile type="file"  accept=".png, .jpg, .jpeg" name="file" (change)="onFileSelect($event)" />
                </div>
              </form>
              <img *ngIf="configService?.contact" (click) = "selectImage($event)" class="imageStyle" [src]="getImage()">
            </div>
            <i *ngIf = "configService?.contact?.imageUrl!= null" class="fa-solid fa-plus iconPlus" (click) = "selectImage($event)"></i>
            </div>
        </div>

        <form [formGroup] ="form" novalidate>
          <div class="row">        
              <div class="col-1"></div>
                <div class="col-5 box">
                <label>Usuario: </label>
                <input type=text class="box_input" formControlName="userName" required>
                <div *ngIf="form?.controls?.userName?.touched && form?.controls?.userName?.invalid">
                  El Nombre de usuario es requerido
                </div>
              </div>
          
            
              <div class="col-5 box2">
              <label>Correo electrónico: </label>
              <input type=text class="box2_input" formControlName="email" placeholder="correoelectronico@ejemplo.com">
            </div>
            <div class="col-1"></div>
          
        </div>
    

        <div class="row">
          <div class="col-1"></div>
          <div class="col-5 box">
            <label for="typeImpairment">Nombre:</label>
              <input type=text class="box_input" formControlName="firstName" required>
              <div *ngIf="form?.controls?.firstName?.touched && form?.controls?.firstName?.invalid">
                El nombre es requerido
              </div>
            </div>
               
      
            <div class="col-5 box2">
              <label for="typeImpairment">Apellido:</label>
                <input type=text class="box2_input" formControlName="lastName" required>
                <div *ngIf="form?.controls?.lastName?.touched && form?.controls?.lastName?.invalid">
                  El apellido es requerido
                </div>
              </div>
              <div class="col-1"></div>
            </div>

            <div class="row">
              <div class="col-1"></div>
              <div class="col-5 box">
                  <label for="dateBrirth">Fecha Nacimiento:</label>
                  <input type="date" class="box_input" formControlName="dateBrirth" id="dateBrirth" style="display: flex;flex-direction: row;">
              </div>
              
              <div class="col-5 box">
                <div class="d-flex flex-row form-check" style="margin-top: 10px;">
                <label for="typeImpairment" class="form-check-label" style="padding-top: 2px;">Recibir Notifaciones</label>
                  <input type=checkbox class="form-check-input"  formControlName="notifications">
                </div>
            </div>

              <div class="col-1"></div>

          </div>
      

   
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <button type="submit" class="submit" (click)= "btn_SaveChange()" style="margin-right: 20px;">Guardar</button>
        <button type="button" class="submit"  routerLink="/user/change-password" style="margin-right: 20px;">Cambiar contraseña</button> 
        <button type="button" class="submit"  (click)="openDialog()" style="margin-right: 20px;">Discapacidades de Interés</button> 
        <button type="button" class="submit_danger"  (click)="openDeleteDialog()">Eliminar Usuario</button> 

      </div>
    </div>

  </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
  