    <footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>SOBRE NOSOTROS</h4>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nuestros servicios</a></li>
                        <li><a href="#">Politica de seguridad</a></li>
                        <li><a href="#">Afiliate</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>AUTORES</h4>
                    <ul>
                        <li><a href="#">D´Agostino Julieta</a></li>
                        <li><a href="#">Vaca Macarena</a></li>
                        <li><a href="#">Vottero Gaston</a></li>
                    </ul>
                </div>

                <div class="footer-links">
                    <h4>Siguenos</h4>
                    <div class="social-link">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <p class="copyright">Comunidad Par Impar © 2021</p>
        </div>
    </footer>
