<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>SOBRE NOSOTROS</h3>
                    <ul>
                        <li><a href="#">Quienes Somos</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>AUTORES</h3>
                    <ul>
                        <li><a href="#">D´Agostino Julieta</a></li>
                        <li><a href="#">Vaca Macarena</a></li>
                        <li><a href="#">Vottero Gaston</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Bienvenido a Comunidad ParImpar!</h3>
                    <p>Comunidad Par Impar es una plataforma web destinada a personas con discapacidades diferentes, 
                      en donde pueden obtener informacion sobre las diversas fundaciones y/o centros de rehabilitación 
                      inscriptos en nuestra pagina
                    </p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Comunidad Par Impar © 2021</p>
        </div>
    </footer>
</div>
