<div class="container-fluid" *ngIf="showMessage">
  <h3 style="align-items: center;">{{message}}</h3>
</div>


<div class="container-fluid" *ngIf="!showMessage">
<div class="central">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6" id="post-form">
      <div class="titulo">
          Recuperar Contraseña
      </div>
      
      <div *ngIf="showError" class="alert alert-danger mb-2" role="alert">
          {{messageError}}
        </div>
  
        <div [ngClass]="{'pt-5': !showError}"></div>
  
      <form [formGroup] ="form" novalidate>
                 
            
              <div class="row">
                <div class="col-12">
                  <label >Nueva contraseña <span style="color: #1995ad;;">*</span></label> 
                  <input  type="password" class="box" formControlName="password"  required>
                  <div *ngIf="form?.controls?.newPassword?.touched && form?.controls?.password?.invalid">
                    <span *ngIf="form?.controls?.password?.errors?.required">La contraseña es requerida</span>
                    <span *ngIf="form?.controls?.password?.errors?.minlength">La contraseña debe tener al menos 8 caracterres</span>
                  </div> 
              </div>
            </div>
  
              <div class="row">
                <div class="col-12">
                    <label>Confirmar Nueva Contraseña <span style="color: #1995ad;;">*</span></label>
                    <input class="box" type="password" formControlName="confirmPassword" required>
                    <div *ngIf="form?.controls?.confirmPassword?.touched && form?.controls?.confirmPassword?.invalid">
                      <span *ngIf="form?.controls?.confirmPassword?.errors?.required">La contraseña es requerida</span>
                      <span *ngIf="form?.controls?.confirmPassword?.errors?.minlength">La contraseña debe tener al menos 8 caracterres</span>
                    </div>
              </div>
              </div>
  
            <div class="row justify-content-center">
                <div class="d-flex justify-content-center">
                    <button class="submit"  type="button" (click)="btn_change_password()">Recuperar Contraseña</button>
          
                </div>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
  </div>
  </div>
    